extends layout.pug

block content
  div.text-center
    h1 ✨ Welcome #{user.id}! ✨

    div(style="display: flex; align-items: center; justify-content: center")
      //-img(src=user.images[0].url, class='circular_image')
      span(style="margin-left: 10px")
      <br>

      button.btn.btn-primary.circular_button.float-right(style="margin-right: 10px;" onclick="window.location.href='/home'")
        span.home-text Back to Home

    div(style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;")
      input#input-text.form-control(name="mode" type="text" placeholder="Input artist name" )  
      button#copy-button.btn.btn-primary(style="margin-top: 10px;" type="submit" onclick=" saveData(); generateSongs()")
        | Find Top Songs
      ul#output-text(style="margin-top: 10px; list-style-type: none; padding: 0;")

  script.
    //- script starts    
    async function saveData() {
      const input = document.getElementById('input-text').value;
      const data = { input: input };
      // Send a POST request to the server using the Fetch API
      fetch('/openai', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
      })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
    }

    async function generateSongs() {
      var input = document.getElementById("input-text");
      var output = document.getElementById("output-text");
      var artistName = input.value.trim();

      if (artistName === '') {
        output.innerHTML = 'Please enter an artist name.';
        return;
      }

      try {
        const artist = await searchArtist(artistName);
        if (artist) {
          const topTracks = await getTopTracks(artist.id);
          displayTopTracks(topTracks);
        } else {
          output.innerHTML = 'No artist found :P';
        }
      } catch (error) {
        console.error('Error fetching artist or top tracks:', error);
        output.innerHTML = 'Error occurred. Please try again.';
      }
    }

    async function searchArtist(query) {
      const response = await fetch(`/search?q=${encodeURIComponent(query)}&type=artist`);

      const data = await response.json();
      return data.artists.items[0];
    }

    async function getTopTracks(artistId) {
      const response = await fetch(`/artists/${artistId}/top-tracks?market=US`);

      const data = await response.json();
      return data.tracks.slice(0, 5);
    }

    function displayTopTracks(topTracks) {
      var output = document.getElementById("output-text");
      var bulletList = '<ul>';

      for (var track of topTracks) {
        bulletList += `<li>${track.name} by ${track.artists[0].name} - <a href="${track.external_urls.spotify}" target="_blank">Listen</a></li>`;
      }

      bulletList += '</ul>';
      output.innerHTML = bulletList;
    }

    function selectText() {
      var output = document.getElementById("output-text");
      output.select();
      document.execCommand("copy");
    }